GtkWidget {
  background-color: #272822;
}
.scrollbar {
  -GtkScrollbar-has-backward-stepper: 0;
  -GtkScrollbar-has-forward-stepper: 0;
  -GtkRange-slider-width: 2;
  border-radius: 3px;
  border: 0;
  background-color: #00AA00;
}
.scrollbar.trough {
  background-color: #272822;
}
.scrollbar.slider {
  border: 0;
}
